# Подключение к PostgreSQL
db:
  dbname: "checkmedb"
  user: "postgres"
  password: "ppassword"
  host: "localhost"
  port: 5432

table:
  name: "tasks"
  id_column: "id"
  name_column: "name"
  criterions_column: "criterions"

# Путь к каталогу tasks (абсолютный или относительно рабочей директории)
tasks_dir: "/home/user/Code/checkme-ng/tasks"
