.tabulator-cell > div > div {
    gap: 0.5rem;
}

.main-page > div > div > div:has(> .tabulator) > .btn-primary {
    position: absolute;
    top: 5.6rem;
    right: calc(8% + 9rem);
    width: fit-content;
    margin: 0;
}

@media (max-width: 64rem) {
    .main-page > div > div > div:has(> .tabulator) > .btn-primary {
        right: calc(4% + 9rem);
    }
}