.Authorization {
    align-items: center;
}

.authorization-card {
    width: 100%;
    max-width: 23.4375rem;
    height: max-content;
}

.authorization-card div {
    margin-bottom: 0.625rem;
}

.authorization-card label {
    font-size: 1.25rem;
}

.authorization-card input {
    background-color: #D9D9D9;
    width: 100%;
    max-width: 22.9375rem;
    height: 1.5625rem;
    box-sizing: border-box;
}

.invalid-feedback {
    color: #e62d2d;
}

.authorization-buttons-panel {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
