.Bundle {
    position: relative;
}

.main-page .Bundle > h2 {
    margin: 0;
    text-align: left;
}

.Bundle > .dropdown {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.Bundle .dropdown-menu {
    top: calc(100% + 0.25rem) !important;
    left: auto !important;
    right: 0 !important;
    transform: none !important;
}

.Bundle h4 {
    position: absolute;
    top: 1.4rem;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    pointer-events: none;
}

.Bundle h3 {
    margin: 1.5rem 0;
    font-size: 1.75rem;
    font-weight: normal;
}

.Bundle .bundle-in-list {
    width: 100%;
    margin: 0 0 1.5rem;
}

.Bundle .bundle-in-list [class*="bundle-item-"] {
    position: relative;
    box-sizing: border-box;
    aspect-ratio: auto;
    width: 100%;
    min-height: 5.5rem;
    padding: 1rem 6.5rem;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.6875rem;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
}

.Bundle .bundle-in-list [class*="bundle-item-"]:hover {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
}

.Bundle [class*="bundle-item-"]::before,
.Bundle [class*="bundle-item-"]::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5rem;
    background-color: #FFFFFF;
}

.Bundle [class*="bundle-item-"]::before {
    left: 0;
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.6875rem 0 0 0.6875rem;
}

.Bundle [class*="bundle-item-"]::after {
    right: 0;
    border-left: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0 0.6875rem 0.6875rem 0;
}

.Bundle [class*="bundle-item-correct" i]::before,
.Bundle [class*="bundle-item-correct" i]::after {
    background-color: #619144;
}

.Bundle [class*="bundle-item-partial" i]::before,
.Bundle [class*="bundle-item-partial" i]::after {
    background-color: #FFBB33;
}

.Bundle [class*="bundle-item-incorrect" i]::before,
.Bundle [class*="bundle-item-incorrect" i]::after {
    background-color: #FF4444;
}

.Bundle [class*="bundle-item-no" i]::before,
.Bundle [class*="bundle-item-no" i]::after {
    background-color: #2D3748;
}

.Bundle [class*="bundle-item-"] .name + div {
    margin-top: 0.25rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow-wrap: anywhere;
}

@media (max-width: 90rem) {
    .Bundle h4 {
        position: static;
        transform: none;
        margin: 0.75rem 0 0;
    }
}