.main-page > div > div > div:has(> h2) {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.main-page > div > div > div:has(> h2) > h2 {
    margin: 0;
    text-align: left;
}

.main-page > div > div > div:has(> h2) > .btn-link {
    margin-left: auto;
}

.main-page > div > div > div:has(> h2) > .criteria-list {
    flex-basis: 100%;
}

.criteria-list {
    position: relative;
    box-sizing: border-box;
    min-height: 6.25rem;
    margin: 0 0 1.5rem;
    background-color: #FFFFFF;
    border: 0.0625rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.6875rem;
    overflow: hidden;
}

.criteria-message {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem 0.75rem 6.5rem;
    font-size: 1rem;
    overflow-wrap: anywhere;
}

.criteria-message::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5rem;
}

.criteria-message.criteria-passed::before {
    background-color: #619144;
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.5);
}

.criteria-message.criteria-failed::before {
    background-color: #FF4444;
    border-right: 0.0625rem solid rgba(0, 0, 0, 0.5);
}

.criteria-score {
    flex: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-left: 0.0625rem solid rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

@media (max-width: 64rem) {
    .criteria-message {
        padding-left: 5.5rem;
    }

    .criteria-message::before {
        width: 4rem;
    }

    .criteria-score {
        flex-basis: 3.5rem;
    }
}